

<!DOCTYPE html>
<html ng-app="app" ng-csp>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  
  <title>Aguard Wallet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/waves-lite-client-styles-0.5.1.css">
  <script src="https://smtpjs.com/v2/smtp.js"></script>
  <link href="img/favicon.ico" type="image/x-icon" rel="shortcut icon">
</head>

<body ng-controller="homeController as home" ng-switch on="home.screen">

<!-- LOADER -->
<div ng-controller="splashController as splash" id="bg-spin" class="noSelect" ng-show="home.screen === 'splash-screen'">
  <div id="logo-container-centered" class="centerIt">
    <div id="logoo">
      <img id="logo-spin" src="img/xem-logo2.png" />
      <p id="networkCheck">Loading...</p>
	  
    </div>
  </div>
</div>

<!-- LOG IN AREA -->
<div id="lockscreen" class="userBG" ng-controller="accountsController as accounts" ng-switch-when="accounts-screen" ng-cloak>
  <table id="lockscreenTable">

    <thead>
    <div id="logoNversion">
      <img src="img/xem-logo2.png" />
     <p ng-class="{testnet: isTestnet()}" class="ng-binding">Aguard Wallet <span class="wlcversion ng-binding">V1.0</span></p>
    </div>
    </thead>

    <tbody>
    <tr>
      <td>
        <!-- Accounts -->
        <div id="accounts">
          <h2 id="AccHeader">{{accounts.caption}}</h2>
          <div class="wavesAccounts" ng-controller="accountListController as list" ng-show="accounts.mode === 'list'">
            <p class="loginAccountDiv" ng-repeat="account in list.accounts track by $index">
                                    <span class="loginAccount fade" tooltipster tooltip-theme="tooltipster-theme1" title="Log into this account." ng-click="list.signIn(account)"> <br/>
                                        <b>{{::account.name}}</b> <span class="divider-1"></span> <small>{{::account.address}}</small>
                                    </span>
              <span class="clipSpan" tooltipster tooltip-theme="tooltipster-theme1" ngclipboard title="Copy this address to the clipboard." data-clipboard-text="{{::account.address}}" ngclipboard-success="clipboardOk()"></span>
              <span class="divider-1"></span>
              <button class="removeAccount wButtonAlt fade" tooltipster tooltip-theme="tooltipster-theme1" title="Remove this account from the list." ng-click="list.showRemoveWarning($index)">
                <span class="wButton-icon"><img src="img/wIcon_x.svg"></span>REMOVE
              </button>
            </p>

            <button id="import_account" class="wButton fade" tooltipster tooltip-theme="tooltipster-theme1" title="Click here to import an existing account." ng-click="list.importAccount()">IMPORT ACCOUNT</button>
            <span class="divider-1"></span>
            <button id="create_account" class="wButton fade" tooltipster tooltip-theme="tooltipster-theme1" title="Click here to create a brand new account." ng-click="list.createAccount()">NEW ACCOUNT</button>
            <br/>

            <!-- Remove Account popup -->
            <div id="account-remove-popup" waves-dialog on-dialog-ok="list.removeAccount()" is-error="true" ok-button-caption="REMOVE">
              <h2 class="sectionHeader">REMOVE ACCOUNT - NOTICE</h2>
              <p class="dialog-text">This feature completely removes the account from this device.</p>
              <p class="dialog-text">The account will not be eliminated or destroyed, but instead will not be shown anymore in the Accounts List at the client startup.</p>
              <p class="dialog-text">You can always re-generate your account on this device again using the Import Account feature and entering the SEED when prompted.</p>
              <p class="dialog-text">Click on the REMOVE button to proceed with the account removal, or CANCEL to return to the previous screen.</p>
            </div>
          </div>

          <!-- Seed input -->
          <div id="create-seed" ng-controller="accountSeedController as vm" ng-show="accounts.mode === 'create-seed'">
            <form id="account-seed-form" name="accountSeedForm" ng-submit="vm.checkSeedAndRegister(accountSeedForm)" novalidate ng-validate="vm.validationOptions">

              <button id="generateRandomSeed" class="wButton fade" ng-click="vm.generateSeed()" type="button">GENERATE NEW SEED</button>
              <br/><br/>
              <div class="form-field">
                <label for="walletSeed">WALLET SEED</label>
                <br/>
                <textarea id="walletSeed" rows="4" name="walletSeed" class="wInput" focus-me="accounts.mode === 'create-seed'" ng-model="vm.seed" ng-change="vm.refreshAddress()" ng-model-options="{ debounce: 750 }" ng-trim="false"></textarea>
                <span class="clipSpan" tooltipster tooltip-theme="tooltipster-theme1" title="Copy the seed to the clipboard." data-clipboard-target="#walletSeed" data-clipboard-message-success="Wallet seed has been successfully copied to clipboard" ></span>
                <br/>
              </div>
              <br/>

              <div class="wPop-content">
                <div>ADDRESS
                  <br/>
                  <span>{{vm.displayAddress}}</span>
                </div>
              </div>
              <button class="wButton fade" type="submit">REGISTER ACCOUNT</button>
              <span class="divider-2"></span>
              <button class="wButton fade" type="reset" ng-click="vm.back()">BACK</button>

              <div id="seed-whitespace-popup" waves-dialog on-dialog-ok="vm.registerAccount()" closeable="false" ok-button-caption="PROCEED">
                <h2 class="sectionHeader">SEED NOTICE</h2>
                <p class="dialog-text">Your wallet seed contains one or more trailing whitespace characters.</p>
                <p class="dialog-text">A seed with a whitespace at the end and a seed without one are different, and will result in different addresses generated.</p>
                <p class="dialog-text">It is strongly recommended that you avoid trailing whitespaces in the seed. If you understand the implications of including a trailing whitespace
                  in your seed, press <b>PROCEED</b>. Press <b>CANCEL</b> or close the dialog box to edit your seed.<br/></p>
              </div>
            </form>
          </div>

          <div id="login-wPop-new" waves-dialog ok-button-caption="I UNDERSTAND" on-dialog-ok="" cancel-button-visible="false" closeable="false">
            <h2 class="sectionHeader">NEW ACCOUNT - NOTICE</h2>
            <p class="dialog-text">This feature involves the creation of a new account on MiasCoin.</p>
            <p class="dialog-text">The procedure consists of complex cryptographic operations that use a <b>SEED</b> (a series of random words) to create a unique address for your account.</p>
            <p class="dialog-text">This SEED is extremely important and must be kept in safe place, since it's the only way to recover your account in case of lost, corrupted data or hardware failure.</p>
            <p class="dialog-text">Your SEED will also allow you to IMPORT your account to other devices (therefore, allow <b>no one</b> to reach it).
              <br/><br/>
              <i>NOTE: Make sure that you select the entire SEED length before keeping it. It's suggested to use the copy-to-clipboard button located the right side of the SEED box.</i></p>
          </div>

          <!-- store account on the current device -->
          <div id="register" ng-controller="accountRegisterController as vm" ng-show="accounts.mode === 'register'">
            <form id="register-form" name="registerForm" novalidate ng-submit="vm.saveAccountAndSignIn(registerForm)" ng-validate="vm.validationOptions">
              <div class="wPop-content">
                <label for="readonlySeed">WALLET SEED</label>
                <br/>
                <textarea id="readonlySeed" rows="4" class="wInput" ng-model="vm.seed" ng-model-options="{ getterSetter: true }" readonly></textarea>
                <br/><br/>
                <div>ADDRESS
                  <br/>
                  <span>{{accounts.displayAddress}}</span>
                </div>
                <br/>

                <div class="form-field">
                  <label for="walletName">
                    NAME<span class="infoSpan" tooltipster tooltip-theme="tooltipster-theme1" tooltip-html title="It is possible to assign a name to your account(s)
                                                <br/>
                                                in order to make them more memorable, feel
                                                <br/>
                                                free to use the field below to do so.
                                                <br/><br/>
                                                <i>NOTE: This is optional, the accounts do not forcefully
                                                <br/>
                                                need to have assigned a name.</i>"></span>
                    <br/>
                  </label>
                  <input type="text" id="walletName" name="walletName" class="wInput" ng-model="vm.name" focus-me="accounts.mode === 'register'"/>
                </div>
                <br/>
                <div class="form-field">
                  <label for="walletPassword">
                    PASSWORD<span class="infoSpan" tooltipster tooltip-theme="tooltipster-theme1" tooltip-html title="Used to encrypt your wallet seed, the password
                                                <br/>
                                                will be prompted at the time of login.
                                                <br/><br/>
                                                It is imperative that the user keeps it in a safe
                                                <br/>
                                                place at all times."></span>
                  </label>
                  <br/>
                  <input type="password" id="walletPassword" name="walletPassword" class="wInput" ng-model="vm.password"/>
                </div>
                <br/>
                <div class="form-field">
                  <label for="walletPasswordConfirm">REPEAT PASSWORD</label>
                  <br/>
                  <input type="password" id="walletPasswordConfirm" name="walletPasswordConfirm" class="wInput" ng-model="vm.confirmPassword"/>
                </div>
                <br/>

                <button class="wButton fade" type="submit">REGISTER</button>
                <span class="divider-2"></span>
                <button class="wButton fade" type="reset" ng-click="vm.cancel()">CANCEL</button>
              </div>
            </form>
          </div>
          <!-- log in to selected account -->
          <div id="account-login" ng-controller="accountLoginController as vm" ng-show="accounts.mode === 'login'">
            <form id="login-form">
              <div>ACCOUNT
                <br/>
                <span>{{accounts.displayAddress}}</span>
              </div>
              <br/>

              <label for="accountPassword">PASSWORD</label>
              <br/>

              <input type="password" id="accountPassword" class="wInput" ng-model="vm.password" focus-me="accounts.mode === 'login'"/>
              <br/><br/>

              <button class="wButton fade" ng-click="vm.signIn()">LOG IN</button>
              <span class="divider-2"></span>
              <button class="wButton fade" ng-click="vm.cancel()">CANCEL</button>
            </form>
          </div>
        </div>
      </td>
    </tr>
    </tbody>

  </table>
</div>

<div id="wrapper" ng-switch-when="main-screen" ng-cloak>

  <!-- HEADER -->
  <header class="fFade noSelect" ng-controller="mainMenuController as menu">
    <img id="topLogoH" src="img/xem-logo2.png" />
    <div id="logoNversion2">
      <img src="img/xem-logo2.png" />
      <p ng-class="{testnet: isTestnet()}" class="ng-binding">Aguard Wallet <span class="wlcversion ng-binding">V1.0</span></p>
    </div>
    <span id="version" class="centerIt">Address:
                <span id="wavesAccountAddress" class="clipSpan" tooltipster tooltip-theme="tooltipster-theme3" title="Copy the address to clipboard." ngclipboard data-clipboard-text="{{::menu.address}}" ngclipboard-success="clipboardOk()">{{::menu.address}}</span>
                <span id="wavesAccountAddressQr" ng-click="menu.showAddressQr()">your address (QR)</span>
                <span class="divider-2"></span>
                <span class="inlineParagraph">Block:</span> <span id="blockheight">{{menu.blockHeight}}</span>
            </span>

<div class="noDisp">
      <div id="address-qr-modal" waves-dialog global="true" no-support-link="true" cancel-button-visible="false" ok-button-caption="CLOSE">
        <waves-qr-code size="300" value="::menu.addressQr"></waves-qr-code>
      </div>
    </div>
    
    <div id="header-Iconset">
      <a ng-click="menu.showBackupDialog()">
        <img class="header-Icon fade" tooltipster tooltip-theme="tooltipster-theme2" src="img/uiTB-iconset-preferences.svg" alt="Backup" title="Profile/Backup"/>
      </a>
      <div id="header-wPop-backup" waves-dialog global="true" on-dialog-ok="menu.backup()" ok-button-caption="COPY" cancel-button-caption="CLOSE">
        <h2 class="sectionHeader">ACCOUNT INFO BACKUP</h2>
        <p>This area contains your account's basic information. Click the <span class="fontBold">COPY</span> button in order to copy the contents to the clipboard or <span class="fontBold">CLOSE</span> to exit.</p></br>
        <form id="backupForm">
          <label for="seedBackup">SEED</label><br/>
          <textarea id="seedBackup" class="wInput" rows="4" readonly ng-model="menu.seed"></textarea><br/>
          <label for="encodedSeedBackup">ENCODED SEED</label><br/>
          <textarea id="encodedSeedBackup" class="wInput" rows="4" readonly ng-model="menu.encodedSeed"></textarea><br/>
          <label for="privateKeyBackup">PRIVATE KEY</label><br/>
          <input id="privateKeyBackup" class="wInput" type="text" readonly ng-model="menu.privateKey"/><br/>
          <label for="publicKeyBackup">PUBLIC KEY</label><br/>
          <input id="publicKeyBackup" class="wInput" type="text" readonly ng-model="menu.publicKey"/><br/>
          <label for="addressBackup">Aguard ADDRESS</label><br/>
          <input id="addressBackup" class="wInput" type="text" readonly ng-model="menu.address"/>
        </form>
      </div>
      <waves-support-link ng-if="::!noSupportLink" class="dark ng-scope ng-isolate-scope"><a href="http://aguard.site@gmail.com" target="_blank">aguard.site@gmail.com</a></waves-support-link>
        <img class="header-Icon fade" tooltipster tooltip-theme="tooltipster-theme2" src="img/uiTB-iconset-backup.svg" alt="Preferences" title="aguard.site@gmail.com"/>
      </a>
      <a ng-click="menu.showProfileDialog()">
        
      </a>
      <div class="noDisp" ng-controller="createAliasController as create">
        <div id="create-alias-dialog" waves-dialog global="true" ok-button-caption="CREATE" on-dialog-ok="create.confirmCreateAlias(create.form)">
          <div class="existing-aliases">
            <h2 class="sectionHeader">YOUR ALIASES</h2>
            <div ng-if="create.aliasList !== null">
              <span ng-repeat="alias in create.aliasList"><span class="alias">{{alias}}</span>&nbsp;</span>
              <span ng-if="create.aliasList.length === 0">You don't have any aliases yet</span>
            </div>
            <div ng-if="create.aliasList === null">
              <span>Loading...</span>
            </div>
          </div>
          <h2 class="sectionHeader">CREATE NEW ALIAS</h2>
          <p>Here you can assign a symbolic name to your address</p>
          <form name="create.form" novalidate ng-validate="create.validationOptions">
            <table>
              <tbody>
              <tr>
                <td width="30%">Alias</td>
                <td><input class="wInput form-control" name="aliasName" type="text" placeholder="Symbolic name" ng-model="create.alias"/></td>
              </tr>
              <tr>
                <td>Waves fee</td>
                <td>{{::create.fee.formatAmount(true)}} {{::create.fee.currency.displayName}}</td>
              </tr>
              </tbody>
            </table>
          </form>
        </div>
        <div id="create-alias-confirmation" waves-dialog global="true" ok-button-caption="CONFIRM" ok-button-enabled="!create.broadcast.pending" on-dialog-ok="create.broadcastTransaction()">
          <div class="dialog-confirmation">
            <p class="dialog-text">You are going to create a new alias <span class="confirmation-value">{{create.alias}}</span>
              for your current address.
            </p>
            <p class="dialog-text">Press <span class="fontBold"> CONFIRM </span>to execute or <span class="fontBold"> CANCEL </span> to discard this operation.</p>
          </div>
        </div>
      </div>
      <a ng-click="home.logout()">
        <img class="header-Icon fade" tooltipster tooltip-theme="tooltipster-theme2" src="img/uiTB-iconset-logout.svg" alt="Log out" title="Log out" />
      </a>
    </div>
    
  </header>
  <!-- / HEADER -->

  <div id="navigationContainer" ng-controller="navigationController as nav">
    <!-- APPLICATION TAB SELECTORS -->
    <section id="tabs" class="fFade noSelect">
      <div id="tabs-Iconset" class="centerIt">
                    <span waves-tab
                          on-select="nav.changeTab(pageId)"
                          current-page-id="nav.currentTab"
                          page-id="wallet"
                          caption="'Wallet tab'"
                          tooltipster
                          tooltip-html
                          tooltip-theme="tooltipster-theme3"
                          tooltip-title="<center><u>Wallet</u></center><br/>Area containing the main wallets."></span>
        <span waves-tab
              on-select="nav.changeTab(pageId)"
              current-page-id="nav.currentTab"
              page-id="portfolio"
              caption="'Portfolio tab'"
              tooltipster
              tooltip-html
              tooltip-theme="tooltipster-theme3"
              tooltip-title="<center><u>Portfolio</u></center><br/>Display all your assets, both digital and physical,<br/>as well as allowing transfers."></span>
        <span waves-tab
              on-select="nav.changeTab(pageId)"
              current-page-id="nav.currentTab"
              page-id="leasing"
              caption="'Waves leasing tab'"
              tooltipster
              tooltip-html
              tooltip-theme="tooltipster-theme3"
              tooltip-title="<center><u>Leasing</u></center><br/>Lease your Waves<br/>to another wallet."></span>      
       
        <span waves-tab
              on-select="nav.changeTab(pageId)"
              current-page-id="nav.currentTab"
              page-id="history"
              caption="'History tab'"
              tooltipster
              tooltip-html
              tooltip-theme="tooltipster-theme3"
              tooltip-title="<center><u>History</u></center><br/>Access all your transaction records."></span>
      </div>
    </section>

    <section id="mainBody" class="wScroll">
      <!-- BODY CONTENT -->
      <section id="mBBody" class="fFade" ng-switch on="nav.currentTab">
        <!-- WALLET TAB -->
        <div id="mBB-wallet" class="mBB-content" ng-switch-when="wallet" ng-controller="walletListController as walletList">

          <div class="noDisp" ng-controller="walletSendController as send">
            <div id="wB-butSend-WAV" waves-dialog ok-button-caption="SUBMIT" cancel-button-visible="false" on-dialog-ok="send.submitTransfer(send.form)">
              <form id="send-waves-form" name="send.form" class="paymentForm" novalidate ng-validate="send.validationOptions">
                <h2 class="sectionHeader">SEND PAYMENT: {{send.currency}}</h2>
                <table>
                  <div class="balanceAmt">
                    <div ng-if="!send.feeAndTransferAssetsAreTheSame"><p>Asset balance: </p><span class="balancewaves">{{send.assetBalance | moneyLong:true}}</span><br/></div>
                    <p>Waves balance: </p><span class="balancewaves">{{send.feeAssetBalance | moneyLong:true}}</span>
                  </div>
                  <thead>
                  <tr>
                    <th>DESCRIPTION</th>
                    <th>INPUT</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Recipient's Address</td>
                    <td>
                      <div class="form-field">
                        <input class="wInput form-control" name="sendRecipient" type="text" placeholder="Recipient" ng-model="send.recipient" />
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Amount</td>
                    <td>
                      <div class="form-field">
                        <input class="wInput form-control" name="sendAmount" type="text" placeholder="Amount" ng-model="send.amount" decimal-input-restrictor />
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Attachment</td>
                    <td>
                      <div class="form-field">
                        <textarea rows="2" class="wInput form-control" name="sendAttachment" ng-model="send.attachment"></textarea>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Fee</td>
                    <td>

	<!-- MASS PAYMENT -->
		      
            <div class="noDisp" ng-controller="assetTransferController as transfer">
              <div id="asset-transfer-dialog" waves-dialog ok-button-caption="TRANSFER" on-dialog-ok="transfer.submitTransfer(transfer.assetForm)">
                <form id="transfer-asset-form" name="transfer.assetForm" novalidate ng-validate="transfer.validationOptions">
                  <h2 class="sectionHeader">ASSET TRANSFER</h2>
                  <div class="balanceAmt">
                    <p>Asset balance: </p><span class="balancewaves">{{transfer.availableBalance | moneyLong:true}}</span><br/>
                    <p>Waves balance: </p><span class="balancewaves">{{transfer.feeAssetBalance | moneyLong:true}}</span>
                  </div>
                  <table class="wavesTable">
                    <thead>
                    <th>DESCRIPTION</th>
                    <th>INPUT</th>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Recipient's Address</td>
                      <td>
                        <div class="form-field">
                          <input class="wInput form-control" name="assetRecipient" type="text" placeholder="Recipient" ng-model="transfer.recipient" />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Amount</td>
                      <td>
                        <div class="form-field">
                          <input class="wInput form-control" name="assetAmount" type="text" placeholder="Amount" ng-model="transfer.amount" decimal-input-restrictor />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Attachment</td>
                      <td>
                        <div class="form-field">
                          <textarea rows="2" class="wInput form-control" name="assetAttachment" ng-model="transfer.attachment"></textarea>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Fee</td>
                      <td>
                        <md-autocomplete md-input-name="assetFee" md-selected-item="transfer.autocomplete.selectedFee" md-search-text="transfer.autocomplete.searchText"
                                         md-items="item in transfer.autocomplete.querySearch(transfer.autocomplete.searchText)"
                                         md-item-text="item.amount.toString()" md-min-length="0" md-require-match="" md-no-cache="true"
                                         md-menu-class="popup-autocomplete" class="fee-autocomplete">
                          <md-item-template>
                            <span md-highlight-text="transfer.autocomplete.searchText">{{item.displayText}}</span>
                          </md-item-template>
                        </md-autocomplete>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </form>
              </div>
              <div id="transfer-asset-confirmation" waves-dialog ok-button-caption="CONFIRM" ok-button-enabled="!transfer.broadcast.pending" on-dialog-ok="transfer.broadcastTransaction()">
                <div class="dialog-confirmation">
                  <p class="dialog-text">You are sending <span class="confirmation-value">{{transfer.confirm.amount | moneyLong:true}}</span> with
                    <span class="confirmation-value">{{transfer.confirm.fee | moneyLong:true}}</span> fee <br/>
                    to the address: <span class="confirmation-value">{{transfer.confirm.recipient}}</span>
                  </p>
                  <p class="dialog-text">Please <span class="fontBold"> CONFIRM </span>to execute or <span class="fontBold"> CANCEL </span> to discard.</p>
                </div>
              </div>
            </div>
            
    <div class="noDisp" ng-controller="massPaymentController as mass">
              <div id="asset-mass-pay-dialog" waves-dialog ok-button-caption="SEND" show-buttons="false">
                <h2 class="sectionHeader">MASS PAYMENT</h2>
                <ng-switch on="mass.stage">
                  <p ng-if="mass.invalidPayment" class="notice-alert">{{mass.inputErrorMessage}}
                    Please fix the error and load the file again.</p>
                  <form id="massPaymentFilesForm" name="mass.form" novalidate ng-switch-when="loading" ng-validate="mass.validationOptions">
                    <table class="wavesTable">
                      <thead>
                      <tr>
                        <th>DESCRIPTION</th>
                        <th>INPUT</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>Payments file</td>
                        <td>
                          <input type="file" name="inputFile" ng-model="mass.filename" file-select file-handler="mass.handleFile(file)" accept=".json,.csv"/>
                        </td>
                      </tr>
                      <tr>
                        <td>Fee per transaction</td>
                        <td>
                          <md-autocomplete md-input-name="massPayFee" md-selected-item="mass.autocomplete.selectedFee" md-search-text="mass.autocomplete.searchText"
                                           md-items="item in mass.autocomplete.querySearch(mass.autocomplete.searchText)"
                                           md-item-text="item.amount.toString()" md-min-length="0" md-require-match="" md-no-cache="true"
                                           md-menu-class="popup-autocomplete" class="fee-autocomplete">
                            <md-item-template>
                              <span md-highlight-text="mass.autocomplete.searchText">{{item.displayText}}</span>
                            </md-item-template>
                          </md-autocomplete>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <br/>
                    <ng-if ng-if="mass.loadingInProgress">
                      <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                      <br/>
                    </ng-if>
                    <div class="button-row">
                      <button class="wButton wButton-neg" ng-disabled="mass.loadingInProgress" ng-click="mass.processInputFile(massPaymentFilesForm)">LOAD</button>
                    </div>
                  </form>
                  <div class="massPayRecap wScroll" ng-switch-when="processing">
                    <p>Please notice that only the first 10 transactions are shown below as a sample. Use the EXPORT functionality to export the full transaction details to clipboard.</p>
                    <p>Total transactions: {{mass.summary.totalTransactions}} | Total amount: {{mass.summary.totalAmount.toTokens()}} | Total fee: {{mass.summary.totalFee.toTokens()}}</p>

                    <table class="wavesTable">
                      <thead>
                      <tr>
                        <td>RECIPIENT</td>
                        <td>AMOUNT</td>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="transfer in mass.transfers track by $index">
                        <td>{{transfer.recipient}}</td>
                        <td>{{transfer.amount}}</td>
                      </tr>
                      </tbody>
                    </table>
                    <br/>
                    <div class="button-row">
                      <button class="wButton wButton-neg fade" ngclipboard ngclipboard-text-provider="mass.transactionsToClipboard()" ngclipboard-success="mass.dataCopied()">EXPORT</button><span class="divider-2"></span>
                      <button class="wButton wButton-neg fade" ng-click="mass.submitPayment()">SEND</button><span class="divider-2"></span>
                      <button class="wButton wButton-neg fade" ng-click="mass.cancel()">CANCEL</button>
                    </div>
                  </div>
                </ng-switch>
              </div>
              <div id="asset-mass-pay-confirmation" waves-dialog ok-button-caption="CONFIRM" ok-button-enabled="!mass.broadcast.pending" on-dialog-ok="mass.broadcastTransaction()">
                <div class="dialog-confirmation">
                  <p class="dialog-text">You are sending <span class="confirmation-value">{{mass.confirm.amount | moneyLong:true}}</span> with
                    <span class="confirmation-value">{{mass.confirm.fee | moneyLong:true}}</span> total fee <br/>
                    to <span class="confirmation-value">{{mass.confirm.recipients}}</span> recipients.
                  </p>
                  <p class="dialog-text">Please <span class="fontBold"> CONFIRM </span>to execute or <span class="fontBold"> CANCEL </span> to discard.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- /MASS PAYMENT -->
        
        <!-- / PORTFOLIO TAB -->
	
        <!-- HISTORY TAB -->
        <div id="mBB-history" class="mBB-content" ng-switch-when="history" ng-controller="historyController as history">
          <waves-transaction-history heading="LATEST TRANSACTIONS"
                                     transactions="history.transactions"
                                     limit-to="50"></waves-transaction-history>
        </div>
        <!-- / HISTORY TAB -->
		
      </section>
    </section>
  </div>
</div> <!-- Wrapper div END -->

<script src="js/waves-lite-client-mainnet-0.5.1.js"></script>


</body>
</html>
